*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
desktop/libs/*.7z
desktop/libs/*.dll
desktop/build/
shared/build/
sharedUi/build/
desktop/packaging/
desktop/installer/*.exe
