pkgbase = navicloud-bin
	pkgdesc = Desktop music client for Navidrome/Subsonic (bundled JRE, libmpv audio engine)
	pkgver = 1.5.6
	pkgrel = 1
	url = https://github.com/akinozgen/navicloud
	arch = x86_64
	license = GPL-3.0-or-later
	depends = mpv
	provides = navicloud
	conflicts = navicloud
	options = !strip
	source = NaviCloud-1.5.6-linux-x86_64.tar.gz::https://github.com/akinozgen/navicloud/releases/download/v1.5.6/NaviCloud-1.5.6-linux-x86_64.tar.gz
	sha256sums = a45f15df58bce802f6aaf011ed2303ad13eac555fbb8fd89be0c4ca7bd142d7d

pkgname = navicloud-bin
