pkgbase = navicloud-bin
	pkgdesc = Desktop music client for Navidrome/Subsonic (bundled JRE, libmpv audio engine)
	pkgver = 1.5.2
	pkgrel = 1
	url = https://github.com/akinozgen/navicloud
	arch = x86_64
	license = GPL-3.0-or-later
	depends = mpv
	provides = navicloud
	conflicts = navicloud
	options = !strip
	source = NaviCloud-1.5.2-linux-x86_64.tar.gz::https://github.com/akinozgen/navicloud/releases/download/v1.5.2/NaviCloud-1.5.2-linux-x86_64.tar.gz
	sha256sums = 2a8a68d607e3b1812845cd019c0b20e5e1b0401fe0589e1e6c9c91749dcf0382

pkgname = navicloud-bin
