[Desktop Entry]
Name=NaviCloud
Comment=Navidrome müzik istemcisi
Exec=navicloud
Icon=io.github.akinozgen.NaviCloud
Terminal=false
Type=Application
Categories=AudioVideo;Audio;Player;
