[Desktop Entry]
Name=NaviCloud
Comment=Navidrome music client
Comment[tr]=Navidrome müzik istemcisi
Exec=/opt/navicloud/bin/NaviCloud
Icon=navicloud
Terminal=false
Type=Application
Categories=AudioVideo;Audio;Player;
